.titulo{
    color: blue;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.boton{
    color: red;
    padding: 20px;
    border-radius: 20px;
    background-color: aqua;
}